{% extends "layout.html" %}
{% block title %}Leaderboard{% endblock %}
{% block header %}jumblecoin leaderboard{% endblock %}
{% block body %}
<ol>
{% for leader in leaders %}
    <li value="{{ leader[1] }}">
        {{ leader[0] }}
    </li>
{% endfor %}
</ol>
<ol>
{% for block in blocks %}
    <li value="{{ block.index }}">
        <span class="mono">{{ block.previous_hash }}</span>
        :: <strong class="mono">{{ block.data }}</strong>
    </li>
{% endfor %}
</ol>
{% endblock %}
<script language="javascript">
    setTimeout(function(){
       window.location.reload(1);
    }, 5000);
</script>
